* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #000000;
	color: #1d1d1d;
    overflow-y: hidden;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
    height: 600px;
	margin: 20px auto 100px auto;
    border: 5px solid rgba(255, 202, 202, 0.42);
    background-color: #102442;
    color: #fff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	overflow-y: scroll;
	border-radius: 5PX;
	padding: 10px;
	padding-left: 30px;
	padding-right: 5px;
}
/* .contenedor::-webkit-scrollbar-thumb{
	background-color: #2c62b4;
} */
.contenedor::-webkit-scrollbar-track{
	background-color:  #102442;
	border-radius: 10px;
}
.contenedor::-webkit-scrollbar-track:hover{
	background-color:  #2a67ca;
}

.contenedor::-webkit-scrollbar{
	width: 15px;
	background-color: #fff;
	border:3PX solid #102442;
}


.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster{
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 2px 3px 2px white;
	border-radius: 15px;
	transition: 0.3s;
}

.contenedor .pelicula .poster:hover{
	transform: scale(1.1);
	box-shadow: -2px -3px 2px rgb(151, 217, 237);
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #1a10345e;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}
.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}


.cambio{
	background-color: antiquewhite;
	width: 25px;
	height: 25px;
	position:absolute;
	left:-300px;
	margin: 10px;
	transform: translateX(300px);
}

@media screen and (max-width: 700px) {
	.contenedor{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}


	.contenedor .pelicula .poster{
		width: 95%;
		margin-bottom: 10px;
		box-shadow: 2px 3px 2px white;
		border-radius: 15px;
		transition: 0.3s;
	}
	
	.contenedor .pelicula .poster:hover{
		/* transform: scale(1.1); */
		box-shadow: -2px -3px 2px rgb(151, 217, 237);
		border-radius: 15px;
	}
}


@media screen and (max-width: 450px) {
	.contenedor{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

}
